<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
	<servlet-name>addServlet</servlet-name>
	<servlet-class>AddServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>addServlet</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>sqServlet</servlet-name>
	<servlet-class>SqServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>sqServlet</servlet-name>
	<url-pattern>/sq</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>contextServlet</servlet-name>
	<servlet-class>ContextServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>contextServlet</servlet-name>
	<url-pattern>/ctx</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>configServlet</servlet-name>
	<servlet-class>ConfigServlet</servlet-class>
	<init-param>
		<param-name>name</param-name>
		<param-value>Alex</param-value>
	</init-param>
	
</servlet>
<servlet-mapping>
	<servlet-name>configServlet</servlet-name>
	<url-pattern>/cnf</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>name</param-name>
	<param-value>Shivang</param-value>
</context-param>
</web-app>